a
  text-decoration: none
li ul
  list-style: none
body
  background-color: grey
.app-wrapper
  display: grid
  grid-template-areas: "h h" "n c"
  grid-template-rows: 60px 1fr
  grid-template-columns: 2fr 10fr

.app-wrapper__content
  //border-radius: 0px 30px 30px 0px
  grid-area: c
  background-color: rgb(186,221 ,238 )
  margin-right: 150px
  height: 100vh

@media (max-width: 1020px)
  .app-wrapper__content
    margin-right: 100px

@media (max-width: 767px)
  .app-wrapper__content
    margin-right: 0
